<html>
<head>
	<title>ola</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Ola Puchta</h1>
<img src= "http://images.wisegeek.com/young-calico-cat.jpg"/> 
</body>
</html>

